body {
    margin: 0;
    background-image: url('/blackjack/assets/img/backgrounds/green.jpg');
    /* background-image: url('/blackjack/assets/img/backgrounds/blue.jpg'); */
    /* background-image: url('/blackjack/assets/img/backgrounds/orange.jpg'); */

    background-size: cover;
    background-position: center;
    opacity: 0.2;
    background-color: #0f3b17;
}

#logo {
    width: 400px;
}

#blackjack_table {
    margin: 10% auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

#dealer_div {
    margin-bottom: 40px;
}

.score_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5px;
    padding-left: 25px;
    color: beige;
    font-size: 24px;
    font-weight: bold;
}

#dealer_cards_div, 
#player_cards_div {
    width: 100%; 
    height: 190px;
}

#dWinner,
#pWinner {
    color: #3cdcf1;
    padding-left: 20px;
    font-size: 24px;
}

#deal_button {
    color: bisque;
    background-color: #a504d1;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(12, 12, 12);
}

#hit_button,
#stand_button {
    margin: 10px;
    font-size: 16px;
    color: bisque;
    background-color: #a504d1;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(12, 12, 12);
}

#hit_button:disabled,
#stand_button:disabled,
#deal_button:disabled,
#bet_amt_5:disabled,
#bet_amt_10:disabled,
#bet_amt_25:disabled,
#bet_amt_50:disabled,
#bet_amt_100:disabled {
    cursor: not-allowed; 
    opacity: 0.5;
}

#dealer_cards_div img,
#player_cards_div img {
    width: 125px;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#player_score,
#dealer_score {
    padding-left: 20px;
}

#bank,
#bet {
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    font-size: 20px;
    font-weight: bold;
}

#bet_selector {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}

#bet_amt_5,
#bet_amt_10,
#bet_amt_25,
#bet_amt_50,
#bet_amt_100 {
    color: rgb(255, 255, 255);
    font-size: 16pxem;
    font-weight: bold;
    width: 50px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(12, 12, 12);
}

#bet_amt_5 {
    background-color: #07db2a;
}

#bet_amt_10 {
    background-color: #7e056e;
}

#bet_amt_25 {
    background-color: #3a46e7;
}

#bet_amt_50 {
    background-color: #ec56c7;
}

#bet_amt_100 {
    background-color: #b90909;
}

#player_message {
    margin-top: 40px;
    height: 50px;
    width: 100%;
    align-content: center;
}

#message {

    font-size: 24px;
    color:bisque
}


@media screen and (max-width: 960px) {

    #logo {
        width: 200px;
    }

    #dealer_cards_div img:first-child,
    #player_cards_div img:first-child {

        margin-left: 0;
    }

    #dealer_div {
        margin-bottom: 25px;
    }

    #dealer_cards_div, 
    #player_cards_div {
        
        min-width: 80px;  
        height: 125px;
    }

    #dealer_cards_div img,
    #player_cards_div img {
        margin-left: -30px;
        width: 80px;
        border-radius: 0px;
    }

    #blackjack_table {
        margin: 2.5% auto;
    }

    #bank,
    #bet,
    #player_message,
    .score_text {
        margin-bottom: 3.5px;
        color: beige;
        font-size: 18px;
    }

    #player_score,
    #dealer_score {
        padding-left: 10px;
    }

    #bet_amt_5,
    #bet_amt_10,
    #bet_amt_25,
    #bet_amt_50,
    #bet_amt_100 {
        color: rgb(255, 255, 255);
        width: 50px;
        height: 30px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        box-shadow: 2px 2px 20px rgb(12, 12, 12);
    }

    #deal_button {
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
    }

    #hit_button,
    #stand_button {
        margin: 5px;
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
    }

}

/* test */
